{% extends "base/index.html" %}
{% load static %}

{% block content %}

<table id="table_peraturan" class="table table-striped table-borderless dataTable align-middle mb-0 bg-white">
    <thead>
        <tr>
            <th>No</th>
            <th>Unit Eselon I</th>
            <th>Pria</th>
            <th>Wanita</th>
        </tr>
    </thead>
    <tbody>
        {% for q in query %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ q.esl1 }}</td>
            <td>{{ q.pria }}</td>
            <td>{{ q.wanita }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}