<!--- Navigasi -->
<div class="tab-pane show active" id="profile-administrasi">
    <ul class="nav nav-tabs tabs-bordered nav-justified">
        <li class="nav-item">
            <a href="#">
                <span><i class="mdi mdi-account" style="font-size: 26px;"></i></span>
                <span class="d-none d-sm-block">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tab" aria-expanded="false" class="nav-link" style="height: 100px;">
                <span><i class="mdi mdi-magnify" style="font-size: 26px;"></i></span>
                <span class="d-none d-sm-block">Pencarian Pegawai</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'pengumuman:daftar_pengumuman' %}">
                <span><i class="mdi mdi-bell-ring-outline" style="font-size: 26px;"></i></span>
                <span class="d-none d-sm-block">Pengumuman</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <span><i class="mdi mdi-play-box-outline" style="font-size: 26px;"></i></span>
                <span class="d-none d-sm-block">Video</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <span><i class="mdi mdi-image-outline" style="font-size: 26px;"></i></span>
                <span class="d-none d-sm-block">Banner</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <span><i class="mdi mdi-school-outline" style="font-size: 26px;"></i></span>
                <span class="d-none d-sm-block">Beasiswa</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <span><i class="mdi mdi-calendar-month-outline" style="font-size: 26px;"></i></span>
                <span class="d-none d-sm-block">Agenda</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <span><i class="mdi mdi-chart-timeline-variant" style="font-size: 26px;"></i></span>
                <span class="d-none d-sm-block">Statistik</span>
            </a>
        </li>
    </ul>
</div>