<!doctype html>
{% load static %}
{% block style %}
{% endblock %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loading</title>
  </head>
  <body>
    <h1>Loading...</h1>
  </body>
</html>
{% endblock %}
{% block script %}
<script>
  {% comment %} var date = new Date();
  date.setTime(date.getTime()+5*24*60*60*1000);
  var expires = "; expires=" + date.toGMTString(); // + added
  console.log(token, '<<<<<<<<< token')
  document.cookie = 'access_token'+"=" + token+expires + ";"; // + and " added {% endcomment %}
  window.location.href = 'http://localhost:4200/profile'
</script>
{% endblock %}