{% extends "base/index.html" %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrum %}
<nav aria-label="breadcrumb" style="margin-top: 15px; background-color: white;">
    <ol class="breadcrumb" style="background-color: white;">
      <li class="breadcrumb-item"><a href="#">Administrasi</a></li>
      <li class="breadcrumb-item"><a href="{% url 'pengumuman:daftar_pengumuman' %}">Pengumuman</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tambah Pengumuman</li>
    </ol>
</nav>
{% endblock %}

{% block content %}  
<h3 align="center">Buat Pengumuman</h3>
<form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}
    <!-- Using the formset -->
    {% for field in form.visible_fields %}
    <div class="form-group row">
        <label for="field.id_for_label" class="col-sm-2 col-form-label">
            {{ field.label }}
        </label>
    </div class="col-sm-8">
        {{ field|add_class:'form-control' }}
    {% endfor %}

    <input type="submit" value="Submit">
</form>
<br><br><br><br><br><br>
{% endblock %}