{% extends "base/index.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link href="{% static 'assets/libs/jquery-vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrum %}
<nav aria-label="breadcrumb" style="margin-top: 15px; background-color: white;">
    <ol class="breadcrumb" style="background-color: white;">
      <li class="breadcrumb-item"><a href="#">Reporting</a></li>
      <li class="breadcrumb-item active" aria-current="page">Statistik Pegawai Kementerian Keuangan</li>
    </ol>
</nav>
{% endblock breadcrum %}

{% block content%}
    <h3 align="center">Peta Sebaran Pegawai Kementerian Keuangan per Provinsi</h3>
    <h5 align="center">per 1 September 2022</h5>
<br>

<div class="container-fluid">
    <h5 class="text-center">Peta Sebaran Pegawai Kementerian Keuangan</h5>
    <div id="map-indonesia" style="height: 550px" align="center"></div>
    <span class="float-right" style="font-size: 10px;">*Data per 1 Januar 2022</span>
</div>

<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
    <table id="example1" 
        class="table table-bordered table-striped dataTable dtr-inline collapsed" aria-describedby="example1_info">
        <thead>
            <tr>
                <th>No</th>
                <th class="sorting">Provinsi</th>
                <th class="sorting">Jumlah</th>
            </tr>
        </thead>
        <tbody>
                {% for q in query %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ q.provinsikantor }}</td>
                <td>{{ q.jumlah }}</td>
            </tr>
                {% endfor %}    
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Jumlah</th>
                <th>{{ allPria }}</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
    </div>
</div>

<br><br><br><br><br><br><br><br>
{{data|safe}}

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'assets/libs/jquery-vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.vmap.indonesia.js' %}" charset="utf-8"></script>

<script>
    var data = [{{data|safe}}];

    window.alert(data);

    jQuery(function(){
      var $ = jQuery;

      $('#map-indonesia').vectorMap({
        map: 'indonesia_id',
        backgroundColor: 'transparent',
        series: {
          regions: [{
            scale: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            values: //{{data|safe}}
            {
              "Aceh":1396, 
			  "Bali":1659, 
			  "Banten":3255, 
			  "Bengkulu":510, 
			  "Yogyakarta":908, 
			  "DKI Jakarta":26601, 
			  "Gorontalo":260,
			  "Jambi":695,
			  "Jawa Barat":6386,
			  "Jawa Tengah":5077,
			  "Jawa Timur":7115,
			  "Kalimantan Barat":1519,
			  "Kalimantan Selatan":1174,
			  "Kalimantan Tengah":702,
			  "Kalimantan Timur":1728,
			  "Kalimantan Utara":344,
			  "Kep. Bangka Belitung":467,
			  "Kep. Riau":2287,
			  "Lampung":1307,
			  "Maluku":405,
			  "Maluku Utara":326,
			  "Nusa Tenggara Barat":886,
			  "Nusa Tenggara Timur":890,
			  "Papua":936,
			  "Papua Barat":467,
			  "Riau":1669,
			  "Sulawesi Barat":253,
			  "Sulawesi Selatan":1981, 
			  "Sulawesi Tengah":770,
			  "Sulawesi Tenggara":467,
			  "Sulawesi Utara":880, 
			  "Sumatera Barat":912, 
			  "Sumatera Selatan":1637, 
			  "Sumatera Utara":3463
            }
          }]
        }
      });
    })
  </script>
  {% endblock %}