{% extends "base/index.html" %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrum %}
<nav aria-label="breadcrumb" style="margin-top: 15px; background-color: white;">
    <ol class="breadcrumb" style="background-color: white;">
      <li class="breadcrumb-item"><a href="#">Reporting</a></li>
      <li class="breadcrumb-item active" aria-current="page">Statistik Pegawai Kementerian Keuangan</li>
    </ol>
</nav>
{% endblock breadcrum %}

{% block content%}
    <h3 align="center">Statistik Pegawai Kementerian Keuangan</h3>
    <h5 align="center">per 1 September 2022</h5>
<br>

<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
    <table id="example1" 
        class="table table-bordered table-striped dataTable dtr-inline collapsed" aria-describedby="example1_info">
        <thead>
            <tr>
                <th>No</th>
                <th class="sorting">Unit</th>
                <th class="sorting">Pria</th>
                <th class="sorting">Wanita</th>
                <th>Jumlah</th>
            </tr>
        </thead>
        <tbody>
            {% for q in query %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if q.esl1 %} {{ q.esl1 }} {% else %} Menteri Keuangan {% endif %}</td>
            <td>{{ q.pria }}</td>
            <td>{{ q.wanita }}</td>
            <td>{{ q.jumlah }}</td>
        </tr>
            {% endfor %}
        </tbody>
</table></div>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
    </div>
</div>
<br><br><br><br>
    
{% endblock %}