{% extends "base/index.html" %}
{% load static %}

{% block content %}
<!--<nav aria-label="breadcrumb" style="margin-top: 15px; background-color: white;">
  <ol class="breadcrumb" style="background-color: white;">
    <li class="breadcrumb-item active" aria-current="page">
        <a href="#">Profile</a>
    </li>
  </ol>
</nav>-->
<div class="container">
<div class="row">
    <div class="col-sm-2" style="align-items: center">
        <img id="foto"
             nip9="060114105"
             nip18="198510032007011001"
             src="https://account.kemenkeu.go.id/manage/Uploads/198510032007011001.jpg"
             width="150"
             height="170"
             border="0"
            class="img-responsive float-md-none">
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-3">NIP</div>
            <div>:</div>
            <div class="col-7"><span style="color:#3399CC;font-weight:bold">060114105 / 198510032007011001</span></div>
        </div>
        <div class="row">
            <div class="col-3">Nama Lengkap</div>
            <div>:</div>
            <div class="col-7"><span style="color:#3399CC;font-weight:bold">Wijayanto Adiwibowo, A.Md.</span></div>
        </div>
        <div class="row">
            <div class="col-3">Jabatan</div>
            <div>:</div>
            <div class="col-7">Pranata Komputer Terampil</div>
        </div>
        <div class="row">
            <div class="col-3">Unit Terakhir</div>
            <div>:</div>
            <div class="col-7">Sekretariat Jenderal  - Biro Sumber Daya Manusia  - Bagian Manajemen Informasi Sumber Daya Manusia</div>
        </div>
        <div class="row">
            <div class="col-3">Gol / Pangkat</div>
            <div>:</div>
            <div class="col-7">II/d ( Pengatur Tingkat I )</div>
        </div>
        <div class="row">
            <div class="col-3">NIK</div>
            <div>:</div>
            <div class="col-8">3374010310850002</div>
        </div>
        <div class="row">
            <div class="col-3">NPWP</div>
            <div>:</div>
            <div class="col-8">097328363509000</div>
        </div>
        <div class="row">
            <div class="col-3">Tempat / Tanggal Lahir</div>
            <div>:</div>
            <div class="col-8">Sukabumi / 03&nbsp;Oktober&nbsp;1985</div>
        </div>
        <div class="row">
            <div class="col-3">Alamat Rumah</div>
            <div>:</div>
            <div class="col-8">Perumahan Taman Anyelir 3 Blok Q3 no 37<br> Depok, Jawa Barat</div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <br><h4 class="judul_page">Layanan dan Informasi</h4><br>
    <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
            <a href="#">
                <h5><i class="mdi mdi-account"></i>&nbsp;Data Pribadi</h5>
                <p>Profil, Data Pribadi, Reminder, Hasil Assessment dan Data Riwayat</p>
            </a>
        </div>
        <div class="col-lg-3 mb-3 mb-lg-0">
            <a href="#">
                <h5><i class="mdi mdi-account-clock"></i>&nbsp;Cek Absensi</h5>
                <p>Pengecekan Absensi Pegawai di Lingkungan Sekretariat Jenderal</p>
            </a>
        </div>
        <div class="col-lg-3 mb-3 mb-lg-0">
            <a href="#">
                <h5><i class="mdi mdi-magnify"></i>&nbsp;Cari Pegawai</h5>
                <p>Pencarian Pegawai Berdasarkan Status, NIP Baru, DRH</p>
            </a>
        </div>
        <div class="col-lg-3 mb-3 mb-lg-0">
            <a href="">
                <h5><i class="mdi mdi-account-settings"></i>&nbsp;Administrator</h5>
                <p>Manajemen User Web SDM</p>
            </a>
        </div>
        <div class="col-lg-3 mb-3 mb-lg-0">
            <a href="">
                <h5><i class="mdi mdi-chart-bar-stacked"></i>&nbsp;Reporting MIS</h5>
                <p>Statistik Pegawai Berdasarkan Unit, Golongan, Jabatan, Pendidikan, Usia dan Jenis Kelamin</p>
            </a>
        </div><br>
        <div class="col-lg-3 mb-3 mb-lg-0">
            <a href="">
                <h5><i class="mdi mdi-content-paste"></i>&nbsp;Permintaan Data</h5>
                <p>Statistik Pegawai Berdasarkan Unit, Golongan, Jabatan, Pendidikan, Usia dan Jenis Kelamin</p>
            </a>
        </div>
    </div>
</div>





{% endblock %}