/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('https://sso.kemenkeu.go.id/v2-assets/assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('https://sso.kemenkeu.go.id/v2-assets/assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('https://sso.kemenkeu.go.id/v2-assets/assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('https://sso.kemenkeu.go.id/v2-assets/assets/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: SourceSansPro-Black;
    src: url('https://sso.kemenkeu.go.id/v2-assets/assets/fonts/source-sans-pro/SourceSansPro-Black.ttf');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('https://sso.kemenkeu.go.id/v2-assets/assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

.bg-color {
    margin: 0;
    /*background: #1E6EDF !important;*/
    height: 100vh;
}

.bg-image {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background: url('../assets/imgs/bg_sso6.png') no-repeat left center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 100vh;
}

.google-captha, .google-captha a {
    font-size: 9pt;
    color: #333333;
    text-align: center;
}

@media (max-width: 767px) {
    .bg-image, .bg-color {
        background: none !important;
    }

    .google-captha, .google-captha a {
        color: #3b3b3b;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bg-image, .bg-color {
        background: none !important;
    }

    .google-captha, .google-captha a {
        color: #3b3b3b;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .bg-image, .bg-color {
        background: none !important;
    }

    .google-captha, .google-captha a {
        color: #3b3b3b;
    }
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #6a7dfe;
        color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
        color: -o-linear-gradient(left, #21d4fd, #b721ff);
        color: -moz-linear-gradient(left, #21d4fd, #b721ff);
        color: linear-gradient(left, #21d4fd, #b721ff);
    }

/*---------------------------------------------*/
h1 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 28px;
    margin-top: 12px;
    color: #1476A6;
}

h2 {
    font-size: 20px;
    text-align: right;
}

h3 {
    margin-top: 0px;
    margin-bottom: 26px;
    font-family: SourceSansPro-Regular;
    font-size: 28px;
    color: #595959;
}

b {
    font-family: SourceSansPro-Black;
    color: #404040;
}

h4 {
    margin-top: 8px;
    margin-bottom: 26px;
    font-family: SourceSansPro-Regular;
    font-size: 24px;
    color: #595959;
}

h6 {
    margin-top: 20px;
    margin-bottom: 16px;
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #a6a6a6;
}

p {
    font-family: Poppins-Regular;
    font-size: 12px;
    line-height: 1.7;
    color: #3b3b3b;
    margin-top: 8px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

hgroup {
    text-align: center;
    margin-bottom: 8px;
}

.nama {
    margin-top: 8px;
    height: 20px;
    padding: 8px;
    font-size: 9px;
}

.kosong {
    margin: 0px auto 0px auto;
    width: 180px;
    height: 3px;
    border-bottom: 3px solid #DDE6ED;
}

.container-dataprofil {
    margin-bottom: 28px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes container-dataprofil {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.container-dataprofil {
    animation-name: fadeIn;
}

img.imgicon {
    width: 140px;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.profil {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top !important;
}

img.profil-medium {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top !important;
}

img.imgregister {
    width: 140px;
    margin-top: 16px;
    margin-bottom: 8px;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }

        input:focus::-moz-placeholder {
            color: transparent;
        }

        input:focus:-ms-input-placeholder {
            color: transparent;
        }

        textarea:focus::-webkit-input-placeholder {
            color: transparent;
        }

        textarea:focus:-moz-placeholder {
            color: transparent;
        }

        textarea:focus::-moz-placeholder {
            color: transparent;
        }

        textarea:focus:-ms-input-placeholder {
            color: transparent;
        }

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

textarea::-webkit-input-placeholder {
    color: #adadad;
}

textarea:-moz-placeholder {
    color: #adadad;
}

textarea::-moz-placeholder {
    color: #adadad;
}

textarea:-ms-input-placeholder {
    color: #adadad;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
    margin: 0px auto 0px auto;
}

.txt2 {
    font-family: Poppins-Bold;
    font-size: 13px;
    color: #00bfff;
    line-height: 1.5;
    margin: 0px auto 0px auto;
}

    .txt2:hover {
        color: #1476A6;
    }

.txt3 {
    font-family: Poppins-SemiBold;
    font-size: 14px;
    line-height: 1.5;
    color: #422800;
    text-align: center;
}

    .txt3:hover {
        color: #1476A6;
    }

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.container-register100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.wrap-login100 {
    min-width: 340px;
    max-width: 420px;
    width: 90%;
    height: auto;
    background: rgba(38, 34, 92, 0.1);
    overflow: hidden;
    padding: 16px 30px 33px 30px;
    margin: 0px 10px 0px 0px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -o-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -ms-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
}

.wrap-register100 {
    width: 370px;
    height: auto;
    background: #fff;
    overflow: hidden;
    padding: 16px 30px 30px 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 0px 10px 0px 30px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -o-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -ms-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
}

.wrap-register100-overflow {
    width: 370px;
    height: auto;
    background: #fff;
    overflow: auto;
    padding: 16px 30px 30px 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 0px 10px 0px 30px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -o-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -ms-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
}


.wrap-register100-small {
    width: 370px;
    height: auto;
    background: #fff;
    overflow: hidden;
    padding: 16px 30px 30px 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 0px 10px 0px 30px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -o-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -ms-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
}

.wrap-register100-small-md {
    width: 370px;
    height: auto;
    background: #fff;
    overflow: hidden;
    padding: 16px 30px 30px 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 0px 10px 0px 30px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -o-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
    -ms-box-shadow: 0 5px 10px 0px rgba(0,0,0, 0.3);
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #999999;
    line-height: 1.4;
    margin: 0px;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

    .label-checkbox100::before {
        content: "\f00c";
        font-family: FontAwesome;
        font-size: 13px;
        color: transparent;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background: #fff;
        border: 1px solid #6675df;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.input-checkbox100:checked + .label-checkbox100::before {
    color: #6675df;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.register100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

.register100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title i {
    font-size: 60px;
}

.register100-form-title i {
    font-size: 60px;
}
/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 35px;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .focus-input100::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #6a7dfe;
        background: -webkit-linear-gradient(left, #ffff4d, #ffff00);
        background: -o-linear-gradient(left, #ffff4d, #ffff00);
        background: -moz-linear-gradient(left, #ffff4d, #ffff00);
        background: linear-gradient(left, #ffff4d, #ffff00);
    }

    .focus-input100::after {
        font-family: Poppins-Regular;
        font-size: 15px;
        color: #999999;
        line-height: 1.2;
        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 16px;
        left: 0px;
        padding-left: 5px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

.input100:focus + .focus-input100::after {
    top: -15px;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::after {
    top: -15px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-show-confirmpass {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 220px;
    height: 37px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: auto;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #008FD7;
}

.login100-form-bgbtn-cancel {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: white;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.login100-form-btn-cancel {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #00bfff;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
    background-color: #1476A6;
}

.wrap-login100-form-btn:hover .login100-form-btn-cancel {
    left: 0;
    color: #b721ff;
}

.text-center {
    padding-top: 10px;
}

/*[ Social item ]*/
.facebook {
    background-color: #3b5998
}

.twitter {
    background-color: #1da1f2
}

.google {
    background-color: #ea4335
}

.fa-azuread:before {
    content: "A";
    font-family: Arial;
    font-weight: bold;
}

.azuread {
    background-color: #0718FB;
}

.windows {
    background-color: #008FD7
}

.social-icon {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-social-item {
    font-size: 18px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px;
    position: relative;
}

    .login100-social-item:hover {
        color: #fff;
        background-color: #333333;
    }

    .login100-social-item .tooltiptext {
        visibility: hidden;
        width: 145px;
        font-size: 10px;
        background-color: #333333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 130%;
        left: 50%;
        margin-left: -70px;
    }

        .login100-social-item .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

    .login100-social-item:hover .tooltiptext {
        visibility: visible;
    }

.vertical-centered {
    display: table-cell;
    vertical-align: middle;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 300px;
    margin: 30px auto;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (width: 576px) {
    .wrap-login100 {
        padding: 8px 15px 24px 15px;
    }
}

@media (width: 360px) {
    .wrap-login100 {
        padding: 8px 15px 30px 15px;
        margin: 40px 10px 10px 0px;
    }

    .wrap-register100 {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
    }

    .wrap-register100-overflow {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
    }

    .wrap-register100-small {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
    }

    .wrap-register100-md {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
    }
}

@media (width: 320px) {
    .container-login100 {
        padding: 10px 0px 10px 0px;
    }

    .wrap-login100 {
        padding: 8px 15px 25px 15px;
        margin: 40px 10px 0px 0px;
    }

    .wrap-register100 {
        padding: 0px 25px 0px 25px;
        margin: 40px 10px 10px 30px;
    }

    .wrap-register100-overflow {
        padding: 0px 25px 0px 25px;
        margin: 40px 10px 10px 30px;
    }

    .wrap-register100-small {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
    }

    .wrap-register100-small-md {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
    }
}

@media only screen and (max-device-width: 411px) and (max-device-height: 731px) and (-webkit-min-device-pixel-ratio: 2) {
    .wrap-login100 {
        padding: 8px 15px 25px 15px;
        margin: 40px 10px 0px 0px;
    }
}

@media only screen and (max-device-width: 375px) and (min-device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .wrap-login100 {
        margin: 40px 15px 0px 0px;
        height: auto;
    }

    .wrap-register100 {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-register100-overflow {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-register100-small {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-register100-small-md {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }
}

@media only screen and (max-device-width: 375px) and (min-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    .wrap-login100 {
        margin: 40px 15px 0px 0px;
        height: auto;
    }

    .wrap-register100 {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-register100-overflow {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-register100-small {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-register100-small-md {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }
}

@media only screen and (max-device-width: 411px) and (min-device-height: 731px) and (-webkit-min-device-pixel-ratio: 2) {
    .wrap-login100 {
        padding: 25px 20px 25px 20px;
        margin: 40px 10px 0px 0px;
        height: auto;
    }

    .wrap-register100 {
        padding: 25px 20px 25px 20px;
        margin: 40px 10px 0px 30px;
        height: auto;
    }

    .wrap-register100-overflow {
        padding: 25px 20px 25px 20px;
        margin: 40px 10px 0px 30px;
        height: auto;
    }

    .wrap-register100-small {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-register100-small-md {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }
}

@media only screen and (min-device-width: 411px) and (min-device-height: 823px) and (-webkit-min-device-pixel-ratio: 2) {

    .wrap-login100 {
        padding: 25px 20px 25px 20px;
        margin: 40px 10px 0px 0px;
        height: auto;
    }

    .wrap-register100 {
        padding: 25px 20px 25px 20px;
        margin: 40px 10px 0px 30px;
        height: auto;
    }

    .wrap-register100-overflow {
        padding: 25px 20px 25px 20px;
        margin: 40px 10px 0px 30px;
        height: auto;
    }

    .wrap-register100-small {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-register100-small-md {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-input100 {
        margin-bottom: 40px;
    }

    h6 {
        margin-bottom: 25px;
    }

    .login100-social-item {
        font-size: 18px;
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 15px 5px 25px 5px;
    }
}

@media only screen and (max-device-width: 414px) and (min-device-height: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    .wrap-login100 {
        padding: 25px 20px 25px 20px;
        margin: 40px 10px 0px 0px;
        height: auto;
    }

    .wrap-register100 {
        padding: 25px 20px 25px 20px;
        margin: 40px 10px 0px 30px;
        height: auto;
    }

    .wrap-register100-overflow {
        padding: 25px 20px 25px 20px;
        margin: 40px 10px 0px 30px;
        height: auto;
    }

    .wrap-register100-small {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }

    .wrap-register100-small-md {
        padding: 8px 15px 33px 15px;
        margin: 40px 10px 10px 30px;
        height: auto;
    }
}

@media only screen and (min-device-height:800px) and (min-device-width:1000px) and (max-device-width:1024px) {
    .footer {
        bottom: 0;
        margin-top: auto;
        flex: 0 0 50px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
    display: block;
    position: absolute;
    background-color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

#result {
    font-size: 9px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: block;
}

    #result.short {
        font-weight: bold;
        color: #FF0000;
    }

    #result.weak {
        font-weight: bold;
        color: orange;
    }

    #result.good {
        font-weight: bold;
        color: #2D98F3;
    }

    #result.strong {
        font-weight: bold;
        color: limegreen;
    }

/*----------Divider------------*/
hr.dashed {
    border-top: 1px dashed #999;
}

hr.dotted {
    border-top: 1px dotted #999;
}

hr.solid {
    border-top: 1px solid #999;
}


hr.hr-text {
    position: relative;
    border: none;
    height: 12px;
}

    hr.hr-text::before {
        content: attr(data-content);
        display: inline-block;
        background: #fff;
        font-weight: bold;
        font-size: 0.85rem;
        color: #999;
        border-radius: 30rem;
        padding: 0.2rem 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/*=======Scrollbar==================*/
/* width */
.wrap-register100-overflow::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.wrap-register100-overflow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Handle */
.wrap-register100-overflow::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 15px;
}

    /* Handle on hover */
    .wrap-register100-overflow::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }

.grecaptcha-badge {
    visibility: hidden !important;
}

.container {
    background-repeat: repeat;
    padding: 15px;
}

.white {
    color: white;
}

.black {
    color: #333333;
}

.footer {
    margin-top: auto;
    background-color: #212529;
    width: 102%;
    padding: 15px;
}

.index-panel {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
    min-height: 85vh;
}

/*========== Animation ============================= */

.slideRight {
    position: relative;
    animation: .5s ease-in .1s slideToRight;
}

.slideRightSlower {
    position: relative;
    animation: .7s ease-in .1s slideToRight;
}

.slideRightSlowest {
    position: relative;
    animation: 1s ease-in .1s slideToRight;
}

@keyframes slideToRight {
    from {
        left: -500px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

.slideBottom {
    position: relative;
    animation: 0.4s ease-in .1s slideToBottom;
}

@keyframes slideToBottom {
    from {
        top: -50px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

.fadeIn {
    position: relative;
    animation: .6s ease-in .1s fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: unset !important;
    color: #FFAE21 !important;
}

@media screen and (min-width: 1750px) {
    .container-login100 {
        zoom: calc((100% / 75) * 100)
    }
}
